
@{
    ViewBag.Title = "EditArticle";
}

<h2>EditArticle</h2>
@if (ViewBag.article != null)
{
    <form method="post">
        <input type="text" value="@ViewBag.article.Content" name="Content" />
        <button type="submit">Edit</button>
        <a href="/Forum/Topic/@ViewBag.topic.Id">Back</a>
    </form>
}
@if (ViewBag.editArticleError != null)
{
    <p>@ViewBag.editArticleError</p>
    <a href="/Forum/Topic/@ViewBag.topic.Id">Back</a>
}

